@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&family=Raleway:wght@100;300;400;500&family=Ubuntu:wght@500&display=swap');

body {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(75, 75, 75);
}
main {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: 800;
}
